.Burger {
  width: 100%;
  height: 250px;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Phones */
@media (min-width: 200px) {
  .Burger {
    width: 250px;
    height: 200px;
  }
}

/* Small devices */
@media (min-width: 300px) {
  .Burger {
    width: 300px;
    height: 250px;
  }
}

/* Tablets */
@media (min-width: 500px) {
  .Burger {
    width: 450px;
    height: 400px;
  }
}

/* Large Screens */
@media (min-width: 1000px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}
