.BreadTop {
  height: 80px;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  margin: 10px auto;
  position: relative;
}

.Seeds1,
.Seeds2 {
  width: 15px;
  height: 8px;
  background-color: white;
  border-radius: 40%;
  position: absolute;
}

.Seeds1 {
  top: 20px;
  left: 35%;
  transform: rotate(-20deg);
}

.Seeds2 {
  top: 20px;
  right: 35%;
  transform: rotate(20deg);
}
.Seeds3 {
  top: 35px;
  left: 25%;
  transform: rotate(10deg);
}

.Seeds4 {
  top: 35px;
  right: 25%;
  transform: rotate(-10deg);
}

.BreadBottom {
  height: 40px;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 0 0 25px 25px;
  margin: 5px auto;
}

.Meat {
  width: 80%;
  height: 25px;
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 15px;
  margin: 5px auto;
}

.Cheese {
  width: 90%;
  height: 15px;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 5px;
  margin: 5px auto;
}

.Salad {
  width: 85%;
  height: 20px;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
  margin: 5px auto;
}

.Bacon {
  width: 80%;
  height: 10px;
  background: linear-gradient(#bf3813, #c45e38);
  border-radius: 5px;
  margin: 5px auto;
}
